h1 {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
    color: rgb(0, 0, 0);
    word-spacing: 2px;
    text-align: center;
    background: rgb(120, 145, 197); opacity:0.6;

}

.inicio-traful{
    color: beige;
}

#showcase{
    background-image: url("../images/showcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

#showcase2{
    background-image: url("../images/showcase2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

#showcase3{
    background-image: url("../images/showcase3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

#showcase4{
    background-image: url("../images/showcase4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

#showcase5{
    background-image: url("../images/showcase5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.fondo-contacto{
    background-image: url("../images/fondo-contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

footer { 
    text-align: center; 
    padding: 1px;
    bottom: 0; 
    width: 100%;
}