h2 {
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h5 {
  color: rgb(0, 0, 0);
  background: rgb(243, 254, 253);
  opacity: 0.4;
  word-spacing: 2px;
  text-align: center;
  margin-top: 95px;
}

.logo-principal {
  width: 10%;
  height: 10%;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.relleno-titulo-pages {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

.relleno-titulo-pages-esp {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

.subtitulo-tesoro {
  margin-top: 20px;
}

section .galeria-inicio {
  padding: 70px;
}

.logo-pages {
  width: 8%;
  height: 8%;
}

.menu-pages {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.lista-menu-pages {
  color: #ffffff;
  list-style: none;
  display: flex;
  gap: 30px;
}

h1 {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6 .titulo-pages {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2rem;
}

.subt-pages {
  margin-top: 20px;
}

.subt2-pages {
  margin-top: 60px;
}

.info-ig {
  background-color: #ffffff;
  opacity: 0.6;
}

a {
  text-decoration: underline;
  color: rgb(0, 32, 193);
}

#showcase {
  background-image: url("../images/fondo-principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.filtro-1{
  background: linear-gradient(to right, rgb(94, 155, 221), rgb(215, 254, 255));
}

.filtro-2 {
  color: #85c9e8;
  text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
}

#showcase2 {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.filtro-3{
  background: linear-gradient(to right, rgb(61, 133, 45), rgb(211, 183, 54));
}


#showcase3 {
  background-image: url("../images/showcase3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.filtro-4{
  background: linear-gradient(to right, rgb(100, 75, 28), rgb(187, 162, 54));
}

#showcase4 {
  background-image: url("../images/showcase4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.filtro-5{
  background: linear-gradient(to right, rgb(9, 30, 63), rgb(28, 120, 28));
}

#showcase5 {
  background-image: url("../images/showcase5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.filtro-6{
  background: linear-gradient(to right, rgb(45, 5, 49), rgb(19, 71, 120));
}

.fondo-contacto {
  background-image: url("../images/fondo-contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.form-contacto {
  color: #e1d2e8;
  justify-items: center;
  padding-top: 20px;
}

footer {
  text-align: center;
  padding: 1px;
  bottom: 0;
  width: 100%;
  background-color: #9cbfdd;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 767px) {
  .galeria-inicio {
    width: 20vh;
    grid-column: span 2;
    grid-template-rows: repeat 2, 50%;
  }
}

/*# sourceMappingURL=style.css.map */
